<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="/fragments/head :: head(title='Busca por: ' + ${search}, scriptPath='/script/script_search.js', stylePath='/style/style_results.css')">
</head>

<body class="bg-white">

	<div th:insert="/fragments/menu :: menu"></div>

	<div class="container">
		<h5 class="my-4 fw-bold">Resultados para "<span th:text="${search}"></span>"</h5>


		<div class="row">
			<div class="col-sm-2">

				<h6>Categoria</h6>
				<ul class="list">
					<li><a href="#">Categoria 1</a></li>
					<li><a href="#">Categoria 2</a></li>
					<li><a href="#">Categoria 3</a></li>
					<li><a href="#">Categoria 4</a></li>
				</ul>
				<hr>
				<div class="form-check">
					<input class="form-check-input rounded-0 border-dark" type="checkbox" value=""
						id="flexCheckIndeterminate">
					<label class="form-check-label" for="flexCheckIndeterminate">
						Apenas disponíveis
					</label>
				</div>
				<hr>
				<h6>Autor</h6>
				<ul class="list">
					<li><a href="#">Autor 1</a></li>
					<li><a href="#">Autor 2</a></li>
					<li><a href="#">Autor 3</a></li>
					<li><a href="#">Autor 4</a></li>
				</ul>
				<hr>
				<h6>Avaliações</h6>
				<ul class="list">
					<li><a href="#">
							<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
								class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
								class="bi bi-star-fill"></i>
						</a>
					</li>
					<li><a href="#">
							<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
								class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
						</a>
					</li>
					<li><a href="#">
							<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
								class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
						</a>
					</li>
					<li><a href="#">
							<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i
								class="bi bi-star"></i><i class="bi bi-star"></i>
						</a>
					</li>
					<li><a href="#">
							<i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i
								class="bi bi-star"></i><i class="bi bi-star"></i>
						</a>
					</li>
				</ul>

				<hr>



			</div>
			<div class="col-sm-10">

				<div class="row row-cols-1 row-cols-md-5 g-3">

					<div class="col" th:each="book : ${listBook}">
						<div class="card h-100 rounded-0 border-0">
							<img th:src="@{${book.pathCloak}}" class="card-img-top rounded-0" alt="...">
							<div class="card-body px-0 pb-0">
								<h6 class="card-title my-0" th:text="${book.title}">Titulo do livro</h6>
								<p class="card-text" th:text="${book.authors.get(0).name}">Autor</p>
							</div>
							<div class="card-footer p-0 border-0 bg-transparent">
								<small class="text-dark"><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
										class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></small>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>

	</div>



</body>

</html>