<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="/fragments/head :: head(title='Cadastre-se - Library System', stylePath='/style/style_register.css', scriptPath='/script/script_register.js')">
</head>

<body class="bg-white" onload="scrollDown()">

	<div th:insert="/fragments/menu :: menu"></div>

	<main class="form-signin w-100 m-auto pt-5">
		<div>
			<h5 class="mb-3">Para criar sua conta, preencha os campos abaixo:</h5>
		</div>

		<form action="/login/processLogin" th:action="@{/user/processRegister}" th:object="${user}" method="post">

			<div class="mb-3">
				<label for="inputName" class="form-label">Nome</label>
				<input type="text" class="form-control border-dark rounded-0" id="inputName" th:field="*{name}"
					th:errorclass="is-invalid" />

				<div class="invalid-feedback" th:errors="*{name}"></div>
			</div>

			<div class="mb-3">
				<label for="inputLastName" class="form-label">Sobrenome</label>
				<input type="text" class="form-control border-dark rounded-0" id="inputLastName" th:field="*{lastName}"
					th:errorclass="is-invalid" />

				<div class="invalid-feedback" th:errors="*{lastName}"></div>
			</div>

			<div class="mb-3">
				<label for="inputEmail" class="form-label">Email</label>
				<input type="email" class="form-control border-dark rounded-0" id="inputEmail"
					aria-describedby="emailHelp" th:field="*{userLoginDTO.email}" th:errorclass="is-invalid">
				<div class="invalid-feedback" th:errors="*{userLoginDTO.email}"></div>
				<div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.
				</div>
			</div>
			<div class="mb-2">
				<label for="inputPassword" class="form-label">Senha</label>
				<input type="password" class="form-control border-dark rounded-0" id="inputPassword"
					th:field="*{userLoginDTO.password}" th:errorclass="is-invalid">
				<div class="invalid-feedback" th:errors="*{userLoginDTO.password}"></div>
			</div>
			<div class="mb-4 form-check">
				<input type="checkbox" class="form-check-input border-dark rounded-0" id="check">
				<label class="form-check-label" for="check">Desejo receber e-mails promocionais</label>
			</div>
			<button type="submit" class="btn btn-dark rounded-0 px-5 w-100">Entrar</button>
		</form>
		<div class="my-3">
			Já possui uma conta? <a href="/user/new" class="text-reset">Faça o login</a>
			<br><br>
			Ao continuar, você concorda com os nossos <a href="/user/recoveryAccount" class="text-reset">Termos e
				politicas de privacidade</a>
		</div>
	</main>


</body>

</html>