@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body{
    font-family: 'Cardo', serif;
      margin: 0;
    position: relative; 
}

* {
    box-sizing: border-box;
  }
 
  .side-img img{
      max-height: 200px;
  }

  .side-right-img {
    max-height: 120px;
  }

.card-info{
  border-radius: 1rem;
}

.btn-add{
  color: #6c757d;
  transition: 0.5s;
}

.btn-add a {
  color: #6c757d;
}

.btn-add:hover a{
  color: white;
}

.btn-add:hover{
  background-color: #4297a0;
  color: white;
  border: none;
}


