@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body{
    font-family: 'Cardo', serif;
    margin: 0;
}
* {
    box-sizing: border-box;
}

.card-button{
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	
}

.card-button:hover i{
	opacity: 0.5;
	color: #fff;
}

.card-button:hover{
	background-color: #212529;
	border-color: #212529;
}

.card-button:hover h4{
	color: #fff;
}


