@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.navbar a{
	font-family: 'Varela', sans-serif;
	color: black;
}

.navbar input, #basic-addon1{
	background-color: #f8f6f5;
}

 .bi-search{
	color: rgb(61, 56, 70);
}

.search-div{
	max-width: 500px;
}