body {
	font-family: 'Ubuntu';
}

.div-center {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-radius: 0.8rem;
}

.start-75{
    left: 75%;
}

.start-25{
    left: 25%;
}

.btn-primary{
    background-color: #4297a0;
    border-color: #4297a0;
}

.btn-primary:hover{
    background-color: #4297a0;
    border-color: #4297a0;
}

.progress-bar{
    background-color: #4297a0;
}

.title-book-paragraph {
	line-height: .5pt;
}