/*-------------Menu------------------*/
#menu{
	background-color: #2f5061;
}

#navLinks a{
	color: white;
}

#btnLogin, #btSearch{
	border-color: #e57f84;
	color: white;
}

#btnLogin:hover, #btSearch:hover{
	background-color: #e57f84;
}
