@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
* {
    box-sizing: border-box;
  }
  
 
  body {
    font-family: 'Cardo', serif;
    margin: 0;
  }
  
.form-signin {
  max-width: 400px;
  padding: 15px;
}