@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body {
    font-family: 'Cardo', serif;
    margin: 0;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
}

@media screen and (max-width: 980px){
	.form-signin  {
		width: 100%;
	}
	
	.leftIconLogin {
		display: none;
	}
}