@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body{
    font-family: 'Cardo', serif;
}


.card,
.title-welcome,
.div-current-book {
    font-family: 'Cardo', serif;
}

#main-card {
    background-image: url('../assets/templates/conny-schneider-VWsJ6mtgCmM-unsplash.jpg');
}