@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

body{
    font-family: 'Cardo', serif;
    margin: 0;
}

* {
    box-sizing: border-box;
  }

	button:disabled, button[disabled]{
		opacity: 0.5;
		background-color: #a60505;
	}
	
  .accordion-item {
    border-radius: 1rem;
  }
  
  .cursor-block{
	pointer-events: none;
	cursor: not-allowed;
	background-color:#a60505;
	opacity: 0.5;
}