<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head(title='Library System', stylePath='/style/style_home.css', scriptPath='')">
</head>

<body>
	<main>

		<div th:insert="/fragments/menu :: menu"></div>

		<div class="container-xxl m-0 p-5 bg-light banner">
			<div class="container">
				<h1 class="fs-1"> Ebooks. </h1>

				<hr>

				<div class="div-paragraph text-muted">
					<p class="lead mt-4 ">Pesquise por livros, artigos, revistas etc. Para facilitar, use termos
						relevantes, para que os resultados sejam mais precisos.
					</p>
				</div>

				<button class="btn btn-outline-dark px-5 rounded-0 mt-4">Explorar</button>

			</div>
		</div>

		<div class="container mt-5">
			<div class="row div-category mb-3">
				<div class="col-sm-10">
					<h6 class="fw-bold">Categorias em destaque</h6>
				</div>
				<div class="col-sm-2 text-end">
					<button class="btn ">Ver todas <i class="bi bi-chevron-right"></i></button>
				</div>
			</div>

			<div class="row row-cols-1 row-cols-md-5 g-4">
				<div class="col">
					<div class="card h-100 border-0 alert-primary pt-3 ps-3">
						<div class="card-body">
							<h1><i class="bi bi-controller"></i></h1>
						</div>
						<div class="card-footer border-0 bg-transparent">
							<h5>Aventura</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 border-0 alert-danger pt-3 ps-3">
						<div class="card-body">
							<h1><i class="bi bi-balloon-heart"></i></h1>
						</div>
						<div class="card-footer border-0 bg-transparent">
							<h5>Romance</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 border-0 alert-success pt-3 ps-3">
						<div class="card-body">
							<h1><i class="bi bi-currency-dollar"></i></h1>
						</div>
						<div class="card-footer border-0 bg-transparent">
							<h5>Finanças</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 border-0 alert-info pt-3 ps-3">
						<div class="card-body">
							<h1><i class="bi bi-activity"></i></h1>
						</div>
						<div class="card-footer border-0 bg-transparent">
							<h5>Ciências</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100 border-0 alert-warning pt-3 ps-3">
						<div class="card-body">
							<h1><i class="bi bi-mortarboard"></i></h1>
						</div>
						<div class="card-footer border-0 bg-transparent">
							<h5>Educação</h5>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="my-5">

		</div>

	</main>

</body>

</html>