<!DOCTYPE html>
<html lang="en">

<head
	th:replace="/fragments/head :: head(title='Status do pedido!', scriptPath='/script/script.js', stylePath='/style/style_order_status.css')">
</head>

<body>
	<div th:insert="/fragments/menu_logged :: menuLogged"></div>

	<main class="div-center mt-5 pb-4 mb-5 border rounded-0">
		<div class="px-5 pt-5 py-2 mb-5 text-white bg-dark">
			<h1><i class="bi bi-box-seam fs-1 me-2"></i>Status do pedido</h1>
			<h2>#4297a0</h2>
			<p>Acompanhe o status de cada livro </p>
		</div>

		<div class="py-4 px-5 m-4 div-track rounded-0 border">
			<div class="row">
				<div class="col">
					<h5>Item: <span>#412</span></h5>
				</div>
				<div class="col text-end pt-2">
					<p th:each="item : ${order.items}" th:text="${item.book.title}" class="title-book-paragraph">
						Sherlock Holmes Um Estudo em Vermelho</p>
					<p class="fw-bold">Devolver em: 03/08/2022</p>
				</div>
			</div>

			<div class="px-5">
				<div class="position-relative m-4">
					<div class="progress" style="height: 2px;">
						<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					<!-- button one -->
					<button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
						aria-controls="collapseOne" style="width: 3rem; height: 3rem;"
						class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-dark rounded-pill">
						<i class="bi bi-box-seam fs-4"></i>
					</button>

					<!-- button two -->
					<button type="button" style="width: 3rem; height: 3rem;" data-bs-toggle="collapse"
						class="position-absolute top-0 start-25 translate-middle btn btn-sm btn-dark rounded-pill"
						data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<i class="bi bi-check-all fs-4"></i>
					</button>

					<!-- button three -->
					<button type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
						aria-expanded="false" aria-controls="collapseThree" style="width: 3rem; height: 3rem;"
						class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-dark rounded-pill">
						<i class="bi bi-book fs-4"></i>
					</button>

					<!-- button four -->
					<button type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
						aria-controls="collapseFour" style="width: 3rem; height: 3rem;"
						class="position-absolute top-0 start-75 translate-middle btn btn-sm btn-dark rounded-pill">
						<i class="bi bi-reply fs-4"></i>
					</button>
					<!-- button five -->
					<button type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
						aria-controls="collapseFive" style="width: 3rem; height: 3rem;"
						class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-dark rounded-pill">
						<i class="bi bi-calendar2 fs-4"></i>
					</button>
				</div>


			</div>

			<div class="accordion mt-5" id="accordionExample">
				<div class="accordion-item border-0">
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<div class="accordion-body border rounded-3">
							Solicitado
						</div>
					</div>
				</div>
				<div class="accordion-item border-0">
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Pedido confirmado
						</div>
					</div>
				</div>
				<div class="accordion-item border-0">
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Em mãos
						</div>
					</div>
				</div>
				<div class="accordion-item border-0">
					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
						data-bs-parent="#accordionExample">
						Em Devolução
					</div>
				</div>
				<div class="accordion-item border-0">
					<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Devolvido
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>