<!DOCTYPE html>
<html lang="en">

<head
	th:replace="/fragments/head :: head(title='Revise seu pedido', scriptPath='/script/script_order.js', stylePath='/style/style_order.css')">
</head>

<body class="bg-white">
	<div th:insert="/fragments/menu_logged :: menuLogged"></div>

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-8 mt-4">
				<div class="container bg-white py-3 pb-2">
					<h4 class="fw-bold pb-0 title-order">
						<i class="bi bi-book mx-3"></i>
						Revise seu pedido:
						<span>#87423432</span>
					</h4>
				</div>

				<div th:each="item : ${session.cart.items}">
					<div class="card border my-3">
						<div class="row g-0">
							<div class="col-md-3 side-img text-center">
								<img src="/assets/book-templates/template_upload_cloak.png"
									class="img-fluid rounded-start" alt="...">
							</div>
							<div class="col-md-9 mt-4">
								<div class="card-body">
									<h5 class="card-title fs-4 fw-bolder" th:text="${item.book.title}">Title</h5>

									<div class="fw-bold">
										<p>Código do pedido: <span class="fw-normal">#87423432</span></p>
										<p>Data do pedido: <span class="fw-normal">04/02/2022</span></p>
									</div>


									<div class="container-fluid">
										<div class="row">
											<div class="col-md-6 fw-bold text-success">
												<p>Devolução: <span class="fw-normal">07/02/2022</span></p>
											</div>
											<div class="col-md-6">

												<div class="d-grid gap-2 px-3">
													<a class="btn btn-outline-danger" th:href="'/order/cart/remove/'+${item.book.id}">
														<i class="bi bi-trash"></i>
														Remover
													</a>
												</div>

											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="container-fluid pt-3 bg-light mb-5">
					<h5 class="my-3"><i class="bi bi-info-circle me-2"></i>Antes de prosseguir:</h5>
					<div class="row">
						<div class="col">
							<h5>Horários:</h5>
							<h6>Segue os horários de funcionamento</h6>
							<ul>
								<li>
									Segunda a Sexta - 8:00 às 17:00
								</li>
								<li>
									Sábado - 8:00 às 12:00
								</li>
							</ul>

						</div>
						<div class="col">
							<h5>Não esqueça:</h5>
							<h6>Você precisa ter em mãos:</h6>
							<ul>
								<li>
									Carteira de identidade
								</li>
								<li>
									O ticket de confirmação do pedido (impresso ou digital)
								</li>
							</ul>

						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4 mt-4">

				<ul class="list-group  p-3 py me-3 pb-3 bg-transparent">
					<li class="list-group-item border-0" th:each="itemBook : ${session.cart.items}">
						<div class="card card-info shadow-sm p-2">
							<div class="row g-0">
								<div class="col-md-3 p-2 text-center">
									<img src="/assets/book-templates/template_upload_cloak.png"
										class="img-fluid w-75 rounded-start" alt="...">
								</div>
								<div class="col-md-9">
									<div class="card-body p-0 mt-2">
										<h6 class="card-title fs-6 fw-bolder" th:text="${itemBook.book.title}">Um estudo
											em vermelho - Sherlock Holmes
										</h6>

										<p class="card-text text-muted">
											Cód.: <span class="fw-normal">#87423432</span>
										</p>

									</div>
								</div>
							</div>

						</div>
					</li>

					<li class="list-group-item border-0" th:if="${session.cart.items.size} < 3">
						<div class="card card-info btn-add shadow-sm p-2">
							<div class="row g-0">
								<div class="col-md-3 p-2 text-center">
									<i class="bi bi-plus-circle  fs-1"></i>
								</div>
								<div class="col-md-9">
									<div class="card-body">
										<h6 class="card-title fs-6 fw-bolder">

										</h6>

										<p class="card-text">
											<a href="/">Adicionar mais livros</a>

										</p>

									</div>
								</div>
							</div>

						</div>
					</li>

					<li class="list-group-item border-0 mt-3">
						<div class="d-grid gap-2">
							<button class="btn bt-loan btn-lg" type="button">Finalizar Pedido</button>
							<button class="btn btn-outline-danger btn-lg" data-bs-toggle="modal"
								data-bs-target="#staticBackdrop" type="button">Cancelar</button>
						</div>

					</li>

				</ul>



			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Cancelar Pedido</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6>Deseja realmente cancelar o pedido?</h6>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Desistir</button>
					<button type="button" class="btn btn-outline-danger">Confirmar</button>
				</div>
			</div>
		</div>
	</div>


</body>

</html>